<p>
  <strong>Name:</strong>
  <%= @course.name %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @course.duration %>
</p>

<p>
  <strong>Fees:</strong>
  <%= @course.fees %>
</p>

<%= link_to "Back", courses_path %>